<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/global.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/create_klass.css">
        <meta charset="utf-8" lang="en" />
        <title>
            Creating New Class
        </title>
    </head>
    <body>
        <div id="vue_div">
            <h1>
                Creating New Class: {{ klass_name }}
            </h1>
            <div class="decorated">
                Class Name: <input type="text" v-model="klass_name" placeholder="Class Name" />
            </div>
            <div class="decorated">
                <select id="student_select">
                    <option v-for="student in students" v-bind:value="student.student_id">{{ student.student_name }}</option>
                </select>
                <button v-on:click="addStudentToSeatingChart">
                    + Add Student to Seating Chart
                </button>
            </div>
            <button v-on:click="finishCreatingKlass">
                Finish Creating Class
            </button>
            <div class="decorated">
                <span>Rotate selected seating: </span> <input type="range" id="rotate_seating_slider" />
            </div>
            <br>
            <canvas id="klass_editor_canvas">
                Your browser does not support the HTML5 Canvas. Please choose a browser from this millennium.
            </canvas>
        </div>
        <script type="text/javascript" src="/static/scripts/vue.js"></script>
        <script type="text/javascript" src="/static/scripts/jquery.js"></script>
        <script type="text/javascript" src="/static/scripts/server_api.js"></script>
        <script type="text/javascript" src="/static/scripts/klass_editor.js"></script>
        <script type="text/javascript" src="/static/scripts/create_klass.js"></script>
    </body>
</html>
