<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/global.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/klass.css">
        <meta charset="utf-8" lang="en" />
        <title>
            Class: {{ klass.klass_name }}
        </title>
    </head>
    <body>
        <h1>
            Class: {{ klass.klass_name }}
        </h1>
        {% raw %}
        <div id="vue_div">
            <h2>
                Assignments ({{ assignments.length }})
            </h2>
            <table>
                <tr v-for="(assignment, assignment_index) in assignments" v-bind:key="assignment.assignment_id">
                    <td class="decorated">
                        {{ assignment.assignment_name }} ({{ assignment.points }} points)
                        <a v-on:click="deleteClickedAssignment" v-bind:data-assignment-index="assignment_index">
                            <b class="delete_x">X</b>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="decorated">
                        Create Assignment: <input type="text" v-model="assignment_to_create_name" v-on:keyup.enter="createAssignmentOnClick" placeholder="Assignment Name" />
                        <input type="number" v-model="assignment_to_create_points" v-on:keyup.enter="createAssignmentOnClick" id="point_value_input" placeholder="Point Value" />
                        <button v-on:click="createAssignmentOnClick" id="create_assignment_button">
                            <b class="add_plus">+</b>
                        </button>
                    </td>
                </tr>
            </table>
            <h2>
                Grading
            </h2>
            <p>
                Select an assignment to grade:
            </p>
            <select id="assignment_select" v-on:input="assignmentSelected">
                <option v-bind:value="-1">--  --</option>
                <option v-for="assignment in assignments" v-bind:value="assignment.assignment_id">{{ assignment.assignment_name }}</option>
            </select>
            <br>
            <klass-editor v-bind:klass_id="klass_id"
                          v-bind:editable="klass_editor_editable"
                          ref="klass_editor"
                          @score-incremented="handleScoreIncremented"
                          @score-decremented="handleScoreDecremented">
            </klass-editor>
        </div>
        <script type="text/javascript" src="/static/scripts/vue.js"></script>
        <script type="text/javascript" src="/static/scripts/jquery.js"></script>
        <script type="text/javascript" src="/static/scripts/server_api.js"></script>
        <script type="text/javascript" src="/static/scripts/klass_editor.js"></script>
        <script type="text/javascript" src="/static/scripts/klass.js"></script>
        {% endraw %}
    </body>
</html>
