<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/global.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/klass.css">
        <meta charset="utf-8" lang="en" />
        <title>
            Class: {{ klass.klass_name }}
        </title>
    </head>
    <body>
        <h1>
            Class: {{ klass.klass_name }}
        </h1>
        {% raw %}
        <div id="vue_div">
            <canvas id="klass_editor_canvas">
                Your browser does not support the HTML5 Canvas. Please choose a browser from this millennium.
            </canvas>
        </div>
        <script type="text/javascript" src="/static/scripts/vue.js"></script>
        <script type="text/javascript" src="/static/scripts/jquery.js"></script>
        <script type="text/javascript" src="/static/scripts/server_api.js"></script>
        <script type="text/javascript" src="/static/scripts/klass_editor.js"></script>
        <script type="text/javascript" src="/static/scripts/klass.js"></script>
        {% endraw %}
    </body>
</html>
